<label>
  <span>Station Id: </span>
  <input type="text" [(ngModel)]="stationId"/>
</label>
<label>
  <span>Sub key: </span>
  <input type="text" [(ngModel)]="subscriptionKey"/>
</label>
<button (click)="getStationData()">Retrive Data</button>
<div>
  <pre>{{ stationData | json }}</pre>
</div>